@font-face {
    src: url('../fonts/28_Days.ttf');
    font-family: 28Days;
}
* {
    margin: 0;
    padding: 0;
}
    body {
    background-color: slategray;
    }
    #modal {
        background-color: white;
        border-radius:5px;
        margin-left:auto;
        margin-right:auto;
        width:45%;
        box-shadow:7px 15px 20px #383838;
        position:relative;
        margin-top:40px;
        padding-bottom:15px;
    }
    #modal:before {
        position: absolute;
        top:-60px;
        left:0;
        width:155px;
        height:36px;
        display:block;
    }
    #modal:after {
        content:"";
        position:absolute;
        top:-30px;
        left:50px;
        border:15px solid transparent;
        border-bottom-color:#fff;
        display:block;
        width:0;
    }
    #modal h1{
        font-family: "28Days";
        padding-left:30px;
        padding-top:30px;
        padding-bottom:30px;
    }
    #modal form{
        display:block;
    }
    #modal label{
        padding-left:30px;
        margin-top:25px;
        font-family: Courier New;
        font-size:18px;
    }
    #modal input{
        margin-top:9px;
        margin-bottom:8px;
        margin-left: 40px;
        display:block;
        border:solid 1px #e5e5e5;
        padding:9px;
        outline:0;
        width:200px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
        background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(4%, #eee), to(#fff));
        background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(4%, #eee), to(#fff));
        font: normal 13px/100% Verdana, Tahoma, sans-serif;
    }
    #modal span {
        font-size: 13px;
        padding: 0 10px 0 10px;
    }
    #modal input[type="submit"]{
        width:auto;
        display:block;
        padding:15px;
        padding-left:15px;
        margin-top:10px;
        margin-left:55px;
        border-radius:10px;
        margin-bottom:30px;
        color: #fff;
        background:#617798;
    }
    canvas {
            margin: 0 auto;
            display: block;
        }
        #score {
            position: absolute;
            color: white;
            font-size: 20px;
            display: none;
            opacity: 0.2;
            text-align: center;
        }
